*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
h1{
    font-size: 2em;
}
.greet{
    background-image: url("./assets/bg1.jpg");
    /* background-color: rgb(108, 166, 216); */
    height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    /* font-weight: lighter;
    font-size: 2em; */
}
.animation{
    font-weight: 200;
    font-size: 1.8em;
    /* text-transform: uppercase; */
    letter-spacing: 0.5em;
}
.animation.letter{
    display: inline-block;
  line-height: 1em;
}
.details{
    
    padding: 150px 40px 40px 80px;
}
span{
    font-size: 1.3em;
}