*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
h1{
    font-size: 2em;
}
.greet{
    background-image: url("./assets/bg1.jpg");
    height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.animation{
    font-weight: 200;
    font-size: 1.8em;
    letter-spacing: 0.5em;
}
.animation.letter{
    display: inline-block;
  line-height: 1em;
}
.details{
    padding: 4em 2em;
}

.filter-holder, h3{
    margin-block: 1em;
}

.github-link{
    display:inline-block;
    text-decoration: none;
    background-color: #161b22;
    color: white;
    margin: 1em 0;
    padding: .5em 1em;
}
.btn{
    padding: 1em 3em;
    border-radius: 40px;
    border: none;
}
.btn-active{
    background-color: rgb(108, 166, 216);
    color: white;
}
img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.project-holder{
    max-width: 350px;
}

p{
    text-align: justify;
}

.projects-holder{
    display: flex;
    justify-content: space-evenly;
}